<dom-module id="cells-ui-estado-vcard-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  @apply --cells-ui-estado-vcard; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  width: 100%; }

.progressbar {
  counter-reset: step;
  display: inline-block;
  width: 100%;
  padding-left: 0px; }

.progressbar li {
  list-style-type: none;
  width: 20%;
  float: left;
  font-size: 13px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d; }

.progressbar li:before {
  width: 50px;
  height: 50px;
  content: counter(step);
  counter-increment: step;
  line-height: 50px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white; }

.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 25px;
  left: -50%;
  z-index: -1; }

.progressbar li:first-child:after {
  content: none; }

.progressbar li.active {
  color: #48ae64; }

.progressbar li.active:before {
  border-color: #48ae64; }

.progressbar li.active + li:after {
  background-color: #48ae64; }

.estado-footer {
  width: 100%;
  text-align: center;
  margin-top: 5%; }

.titulo {
  color: #004481;
  font-weight: bold; }

.estado-header {
  width: 93%;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  border: 1px solid #1973B8;
  border-radius: 5px;
  padding: 3%; }
  .estado-header .item-header {
    width: 100%;
    margin-top: 20px; }
    .estado-header .item-header .sub-titulo {
      color: #1973B8;
      font-weight: bold; }

.estado-body {
  width: 93%;
  margin-left: 3%;
  margin-top: 20px; }
  .estado-body .estado-body-header {
    margin-left: 3%; }

.contenedor {
  margin: 0 0 3% 0; }

</style></template></dom-module>